*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#toDo {
  padding: 1rem;
  text-align: center;

  .title {
    padding-bottom: 1rem;
    font-size: 30px;
  }

  button {
    border: 1px solid #000;
    height: 2rem;
    padding: 0 20px;
  }

  .toDo_form {
    display: flex;
    justify-content: center;
    margin: 1rem auto 0;
    width: 70%;
  }

  .task_value {
    margin-right: 2rem;
    padding: 5px;
  }

  .task_submit {
  }

  .toDo_inner {
    background: rgb(169, 248, 174);
    margin: 1rem auto 0;
    width: 30%;
    padding: 1rem;

    h2 {
      text-align: left;
    }
  }

  ul {
    padding: 1rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }
}
