@use "../global" as global;

.c-section__ttl {
  margin-left: 2px;

  span {
    font-size: 18px;
    color: global.$accent-color;
    font-family: global.$ff-en;
    letter-spacing: global.$letter-spacing-base;
  }

  h2 {
    letter-spacing: global.$letter-spacing-base;
    font-size: 46px;
    font-weight: bold;
    color: #000;
    line-height: normal;
  }
}
