@charset "UTF-8";
/*====================================================================================
# 設定
=====================================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

// 色
$color-main: #f9f9f9; // ベース色
$color-active: #64629d; // アクティブ色
$color-background-base: #fff; // 背景色
$color-text-base: #2d2d32; // テキスト色
$hover-opacity: 0.6; // 透過度

// 階層
$layer: (
  modal: 100,
  // モダール
  drawer: 40,
  // ドロワー
  floating: 30,
  // フローティングアイテム
  header: 20,
  // ヘッダー
  footer: 10,
  // フッター
  default: 1,
);

/*====================================================================================
# ブレークポイント
=====================================================================================*/
$inner-width: 1100px; // インナー幅サイズ
$sp-width: 768px; // スマホサsイズ

// ブレークポイント
$breakpoints: (
  // スマホ以下の場合
  "sp": "screen and (max-width: #{$sp-width - 1px})",
  // タブレット以下の場合
  "tab": "screen and (max-width: #{$inner-width - 1px})",
  // タブレット以上の場合
  "pc": "screen and (min-width: #{$inner-width})"
);

@mixin mq($bp) {
  @media #{map-get($breakpoints, $bp)} {
    @content;
  }
}

/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*====================================================================================
# 基本設定
=====================================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
  min-height: 100vh;
  color: #333333;
  font-family: "Noto Sans JP", "yu-gothic-pr6n", "kozuka-gothic-pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.moveToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  text-align: center;
}

#accordion {
  h1 {
  }
  dl {
    margin: 0;
  }
  dt {
    padding: 20px;
    position: relative;

    &::before {
      content: "Q.";
    }

    &::after {
      content: "＋";
      position: absolute;
      top: 10px;
      right: 20px;
      transition: 0.2s;
    }
  }
  dd {
    padding: 20px;
    margin: 0;
    display: none;
    transition: 0.8s;
  }
  dd {
    &::before {
      content: "A.";
    }
  }
  .appear {
    dd {
      display: block;
    }

    dt {
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

.menu_outer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.menu_index {
  width: 250px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: white;
  border: solid 1px;
  cursor: pointer;
}

.toggle_btn {
  position: relative;
  width: 1rem;
  height: 1rem;
}

.toggle_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: 0.2s;
}

.toggle_btn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}

.toggle_btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: 0.2s;
}

.toggle_btn.active::after {
  transform: rotate(0deg);
}

.menu_container {
  width: 250px;
  border: solid 1px;
  border-top: none;
  background-color: lightcyan;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: 0.4s;
}

.menu_container li {
  padding: 10px;
  cursor: pointer;
}

.menu_container li:hover {
  background-color: darkcyan;
  color: white;
}

/* アコーディオン全体 */
.accordion {
  max-width: 800px;
  margin: 0 auto;
}

/* アコーディオン */
.accordion__item {
  border: 1px solid #ccc;
  margin-top: 10px;
  cursor: pointer;
}

/* アコーディオンのタイトル */
.accordion__title {
  position: relative;
  padding: 15px 60px 15px 20px;
  font-weight: bold;
  cursor: pointer;
}

/* (+)アイコン */
.accordion__title::before,
.accordion__title::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #3abec1;
  width: 20px;
  height: 4px;
  transition: all 0.3s;
}

.accordion__title::after {
  transform: rotate(90deg);
}

/* アコーディオンのコンテンツ */
.accordion__content {
  padding: 0 20px 15px 20px;
  display: none;
  cursor: pointer;
}

.accordion__content.is-open {
  display: block;
}

/* アコーディオン展開時の(-)アイコン */
.accordion__item.is-active .accordion__title::before {
  transform: rotate(180deg);
}

.accordion__item.is-active .accordion__title::after {
  transform: rotate(180deg);
  opacity: 0;
}

/* マウスストーカー */
.g-ms {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transform: translate3d(50vw, 50vh, 0);
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.g-ms_i {
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 30px;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.05);
  opacity: 0;
}

/* アクティブ時 */
.g-ms.g-ms-active .g-ms_i {
  opacity: 1;
}

/* マウスホバー時 */
.g-ms.g-ms-hover {
  mix-blend-mode: difference;
}
.g-ms.g-ms-hover .g-ms_i {
  background: #fff;
  transform: scale(0.2);
}
