*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.mask-bg {
  color: transparent;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  transition: color 0ms 450ms;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.05em;
    -webkit-animation: loadingAnimation 1s infinite;
    animation: loadingAnimation 1s infinite;
    @-webkit-keyframes loadingAnimation {
      0% {
        transform: translate(-50%, -50%) translateY(0);
      }
      50% {
        transform: translate(-50%, -50%) translateY(-20px);
      }
      100% {
        transform: translate(-50%, -50%) translateY(0);
      }
    }
    @keyframes loadingAnimation {
      0% {
        transform: translate(-50%, -50%) translateY(0);
      }
      50% {
        transform: translate(-50%, -50%) translateY(-20px);
      }
      100% {
        transform: translate(-50%, -50%) translateY(0);
      }
    }
  }
}
.mask-bg::after {
  background: #000;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 100%);
}

.mask-bg.is-animated {
  color: #362ae0;
}
.mask-bg.is-animated::after {
  -webkit-animation: mask-bg 1.2s cubic-bezier(0.8, 0, 0.17, 1);
  animation: mask-bg 1.2s cubic-bezier(0.8, 0, 0.17, 1);
}

@-webkit-keyframes mask-bg {
  0% {
    transform: translate(0, 101%);
  }
  40%,
  60% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0, -100%);
  }
}

@keyframes mask-bg {
  0% {
    transform: translate(0, 101%);
  }
  40%,
  60% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.main-content {
  padding: 20px;
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .gallery-list-item {
    width: calc((100% - 20px) / 3);
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .main-text {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
.mask-bg.hide {
  opacity: 0;
  pointer-events: none;
  trasition: opacity 500ms;
}

body {
  position: relative;
}

.mask-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition: all ease-in-out 1s;
}
