// 色
$main-color: #192f60; // メインカラー
$accent-color: #eb2935; // アクセントカラー
$text-color: #111; // テキストカラー

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans+JP:wght@100..900&display=swap");

// フォント
$ff-base: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
  "Figtree", sans-serif;
$ff-en: "Figtree", sans-serif; // 英字
$ff-ja: "Noto Sans JP", sans-serif; // 日本語標準
$ff-yu: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif; // 游ゴシック体
$fz-base: 16px; // ベースフォントサイズ
$letter-spacing-base: 0.05em; // スペーシングウェイト
$fw-base: 500; // ベースフォントウェイト
$lh-base: 1.6; // ベース行間
$inner-width: 1100px; // インナー幅サイズ

$pc-minwidth: 900px; // pcサイズ

// ブレークポイント
$breakpoints: (
  // スマホ以下の場合
  "sp": "screen and (max-width: #{$pc-minwidth - 1px})",
  // pc以上の場合
  "pc": "screen and (min-width: #{$pc-minwidth})"
);

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);
