*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#toDo {
  padding: 1rem;
  text-align: center;
}
#toDo .title {
  padding-bottom: 1rem;
  font-size: 30px;
}
#toDo button {
  height: 2rem;
  padding: 0 20px;
}
#toDo .toDo_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto 0;
  width: 70%;
}
#toDo .task_value {
  margin-right: 2rem;
  padding: 5px;
}
#toDo .toDo_inner {
  background: rgb(169, 248, 174);
  margin: 1rem auto 0;
  width: 30%;
  padding: 1rem;
}
#toDo .toDo_inner h2 {
  text-align: left;
}
#toDo ul {
  padding: 1rem;
}
#toDo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}

button {
  background: rgb(124, 218, 255);
  color: #333;
  border: none;
}
button:disabled {
  background-color: lightgray;
  color: gray;
  border-color: grey;
}

.toDo_inner ul li button {
  border: #333 solid 1px;
  background: green;
  color: rgb(255, 255, 255);
}