* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #36474f;
}

header {
  position: absolute;
  width: 100%;
  min-height: 66px;
  background: #43a5f6;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: #fff;
    font-size: 1.75em;
    font-weight: 600;
    text-decoration: none;
  }
  ul {
    position: relative;

    li {
      position: relative;
      list-style: none;
      float: left;

      a {
        color: #fff;
        font-size: 1.1em;
        padding: 20px 25px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        &:hover {
          background: #2b93e3;
        }
      }
    }
  }

  ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #445964;
    display: none;

    li {
      position: relative;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  ul li:hover > ul {
    display: block;
  }

  ul li ul li ul {
    top: 0;
    left: 200px;
  }
  .menuToggle {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  header {
    padding: 10px 20px;

    .container {
      position: absolute;
      width: 100%;
      top: 66px;
      left: 0;
      background: cadetblue;
      color: #fff;
      z-index: 9;
      opacity: 0;
      transform: translateX(100%);
      pointer-events: none;
      transition: 0.5s;
      padding: 10px 15px;
    }

    .menuToggle {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 66px;
      height: 66px;
      background: blue;
      z-index: 10;

      i {
        position: absolute;
        left: 50%;
        width: 40px;
        height: 2px;
        transform: translate(-50%, -50%);
        background: #fff;
        transition: 0.5s;

        &:nth-of-type(1) {
          top: calc(50% - 10px);
        }
        &:nth-of-type(2) {
          top: 50%;
        }
        &:nth-of-type(3) {
          top: calc(50% + 10px);
        }
      }
      &.active i:nth-of-type(1) {
        transform: translate(-50%, 10px) rotate(45deg);
      }
      &.active i:nth-of-type(2) {
        opacity: 0;
      }
      &.active i:nth-of-type(3) {
        transform: translate(-50%, -10px) rotate(-45deg);
      }
    }
  }
  header .container.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);

    & > ul {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto;
    }
    & > ul > li {
      width: 100%;
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    & > ul > li > ul {
      position: relative;
      display: block;
      left: 10px;
    }

    & > ul > li > ul > li {
      border: none;
    }

    a {
      padding: 0;
      b {
        display: none;
      }
    }
    a:hover {
      background: cadetblue;
    }
  }
}
